@import "material-ui-js/src/less/variables/colors.less";
@import "material-ui-js/src/less/variables/custom-variables.less";
@import "material-ui-js/src/less/variables/media-queries.less";
@import "material-ui-js/src/less/variables/spacing.less";

@import "material-ui-js/src/less/components.less";
@import "material-ui-js/src/less/scaffolding.less";

.paper-examples .mui-paper {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 64px;
}

@media only screen and (min-width: 768px) {
    .paper-examples .paper-group {
        float: left;
        width: 33%;
    }
}

.slider-display {
    width: 100px;
    margin: 20px;
}

.example-block {
    padding: 24px;
}

.checkbox-container .mui-checkbox {
    height: 18px;
}
